.vaga {
  padding: 12px;
  border: 1px solid #2196F3;

  /* font-size: 14px; */
  /* font-size: 0.875rem; */
  font-size: 1.4rem;
}

.vaga__cabecalho {
  /* display e box model */
  margin: -12px;
  margin-bottom: 0;

  /* cores */
  background-color: #2196F3;
  color: #FFF;

  /* texto */
  text-align: center;
  line-height: 3;
  font-weight: normal;
  font-size: 2em;
}

.vaga__salario {
  /* display e box model */
  margin: 20px 0;

  /* texto */
  text-align: center;
  /* font-size: 24px; */
  font-size: 2em;
}

.vaga__prerequisitos {
  /* display e box model */
  padding: 0;
  margin: 20px 0;

  /* texto */
  font-size: 1em;

  /* outros */
  list-style: none;
}

/* article > ul > li { */
.vaga__prerequisitos>li {
  /* texto */
  text-align: center;
}

/* article>footer { */
.vaga__rodape {
  /* texto */
  text-align: center;
}

.botao {
  /* display e box model */
  display: inline-block;
  padding: 0.8em 1.2em;

  /* cores */
  background-color: #AAA;
  color: white;

  /* texto */
  font-size: 1em;
  text-decoration: none;
}


.botao:hover,
.botao:focus {
  /* cores */
  background-color: #777;
  color: white;

  /* outros */
  outline: none;
}

/* modificador BEM */
.botao--candidatura {
  /* cores */
  background-color: #1976D2;
  color: white;
}

.botao--candidatura:hover,
.botao--candidatura:focus {
  /* cores */
  background-color: #0D47A1;
}