/* vamos aproveitar e remover essa regra, o Bootstrap já faz isso
* {
  box-sizing: border-box;
} */

body {
  /* display e box model */
  margin: 0;

  /* texto */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}