header {
  height: 80px;
  border-bottom: 1px solid #CCC;
}

/* removemos o símbolo > */
header img {
  /* imagem "desce" um pouco dentro do header */
  margin-top: 10px;
}

#vagas {
  padding: 80px 0;
}

#vagas::after {
  content: "";
  display: block;
  clear: both
}