/* header { */
.leiaute-cabecalho {
  height: 80px;
  border-bottom: 1px solid #CCC;
}

/* removemos o símbolo > */
/* header img { */
.leiaute-cabecalho img {
  /* imagem "desce" um pouco dentro do header */
  margin-top: 10px;
}

/* #vagas { */
.leiaute-vagas{
  padding: 80px 0;
}

/* não vamos precisar mais, já que a responsividade está sob controle do Bootstrap */
/* #vagas::after {
  content: "";
  display: block;
  clear: both
} */