
.leiaute-cabecalho {
  /* display e box model */
  height: 80px;
  border-bottom: 1px solid #CCC;
}

.leiaute-cabecalho img {
  /* display e box model */
  margin-top: 10px;
}


.leiaute-vagas{
  /* display e box model */
  padding: 80px 0;
}
